<launch>
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="/scan">
		<param name="delta" type="double" value="0.1034" />
		<param name="temporalUpdate" type="double" value="0.1"/>
		<param name="map_update_interval" type="double" value="1"/>
		<param name="xmin" type="double" value="-2" />
		<param name="xmax" type="double" value="2" />
		<param name="ymin" type="double" value="-2" />
		<param name="ymax" type="double" value="2" />
		<param name="occ_thresh" type="double" value="0.1" />
		<param name="particles" type="double" value="60" />
	</node>
</launch>
