<launch>
    <arg name="robot" />
    <group ns="$(arg robot)">
        <!-- Run the map server, change the map server to point to a map you've created -->
        <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
        
        <!-- Throttle the voxel grid that is being published for rviz -->
        <!-- <node pkg="topic_tools" type="throttle" ns="move_base_node/local_costmap" name="voxel_grid_throttle" args="messages 
            voxel_grid 3.0 voxel_grid_throttled" /> -->
        
        <!--- Run AMCL -->
        <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->
        
        <!-- move base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find robots_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find robots_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find robots_2dnav)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find robots_2dnav)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find robots_2dnav)/config/base_local_planner_params.yaml" command="load" />
        </node>
        
        <!-- transform base link into TF a pose -->
        <node pkg="robots_2dnav" type="tf_to_pose.exe" name="tf_to_pose_base_link" args="_frame_id:=/base_link  _out_topic:=base_link_pose"
            output="log" />
        
        <!-- the trail marker -->
        <node pkg="robots_2dnav" type="trail_marker.exe" name="trail_marker_base_link"
            args="_input_pose_topic:=base_link_pose
                    _static_frame_id:=/odom
                    _color_r:=0 _color_g:=0 _color_b:=1 _color_a:=0.9
                    _trail_scale:=0.03 _min_angle_difference:=0.5 _min_axis_difference:=0.2"
            output="log" />
    </group>
</launch>